# Project specific
/tools/MutSigCV_1.41/references/
/tools/MutSigCV_1.41/results_*/

# Logs 
log/
*.log
*.coverage
*.coveragerc

# Mac anc Vim specific
.DS_Store
.DS_Store?
*.m~
*.*swp
*.*swo

# Python
__pycache__/
*.pyc

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so
.Rproj.user
